<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1><%= link_to @distro.name, @distro %> &gt; Add Repo</h1>
		</div>
		<%= render partial: 'form', locals: {url: distro_repos_path, method: :post} %>
	</div>
</div>