<%= form_for @distro, url: url, method: method do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%=	f.text_field :name, class: "form-control" %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>