<div class="row">
	<div class="page-header">
		<div class="col-xs-8"><h1>Linux Distros</h1></div>
		<div class="col-xs-4 text-right"><%= link_to "Add", new_distro_path, class: "btn btn-primary" %></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<% if @distros.length == 0 %>
		<span>No distros found.</span>
		<% end %>
		<% @distros.each do |distro| %>
		<h2><%= link_to distro.name, distro %></h2>
		<% end %>
	</div>
</div>
