<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>Edit <%= @software.name %></h1>
		</div>
		<%= render partial: 'form', locals: {url: @software, method: :patch} %>
	</div>
</div>
